# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
vendor/
logs/
etc/app.ini
micro-mall-order
micro-mall-order.pid
micro-mall-order-darwin-amd64
micro-mall-order-linux-amd64
micro-mall-order-windows-amd64.exe
micro-mall-order-windows-amd64